:root{
    --login--primary-color:#3a68b7;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--login--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario{
    width: 80%;
    max-width: 32em;
    background-color: white;
    box-shadow: -10px -0px 2px rgba(0, 0, 0, 0.5);

}

.form_field{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 2rem;
}

.form_titulo{
    font-weight: 300;
    font-size: 2rem;
    color: var(--login--primary-color);
    padding-top: 2rem;
}

.form_label{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
}

.form_input{
    padding: 0.5em 0;
    font-size: 1.2rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--login--primary-color);
    margin-bottom: 0.8rem;
    outline: none;
}

.form_input:focus{
    outline: 2px solid var(--login--primary-color);
    padding-left: 0.3rem;
    transition: padding-left 0.05s;
}

.botao{
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    outline: none;
   
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.botao-primario{
    background-color: var(--login--primary-color); 
    color: white;
}

.botao-secundario{
   color: var(--login--primary-color);
}

.form_action{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form-senha{
   font-size: 0.85rem;
   flex-grow: 1;
   text-align: right;
   text-decoration: none;
}

.form-senha a{
    text-decoration: none;
}